.container {
    margin: auto;
    max-width: 50%;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    padding: 1rem 1rem;
    margin: 5px 0;
    transition: 0.3s;
    border-radius: 15px;
    
    /* justify-content: space-around; */
}

.nav-links:hover {
    background-color: var(--nav-color);
    filter: drop-shadow(0 2px .3rem var(--nav-color));
}

.logo {
    
}

.blog-link {
    /* float: right; */
    align-self: center;
    margin-left: auto;
    color: var(--secondary-text-color);
    font-weight: bold;
    font-size: 1.5rem;
}